.Palette {
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.Palette-footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.emoji {
  font-size: 1rem;
  margin: 1rem;
}
